/* Setup */
main .main-image.desktop {
    display:none;
}

main .main-images.mobile {
    background: whitesmoke;    
}

/* images */

main .main-images.mobile div .image {
    height: 10rem;
    margin:.5rem 0;
}

main .main-images.mobile div:nth-child(2) .image {
    background-image: url("../../../../assets/home-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-images.mobile div:nth-child(3) .image {
    background-image: url("../../../../assets/home-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-images.mobile div:nth-child(4) .image {
    background-image: url("../../../../assets/home-image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    margin-top:.5rem;
}

main .main-images.mobile div .image .dark-mask {
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
}


/* texts */

main .main-images.mobile > h1 {
    text-align:center;
    margin:0 .5rem;
    font-weight: bold;
    font-size: 2rem;
    color:var(--primary-color);
}

main .main-images.mobile div p {
    width:90%;
    margin:auto;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3rem;
}

main .main-images.mobile div p span {
    color: var(--primary-color);
}

main .main-images.mobile div p span.brand {
    color: var(--primary-color);
    font-style: italic;
}